<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Challenge</title>
  </head>
  
  <body>
    <h1>4 pics 1 word Challenge</h1>
    <hr>
    <p>
      <%= @greeting %>,<br/>
      <%= @body %><br/>
      <%= puts "<a href=" + @link + ">" + "4pics1word</a>" %><br/>
    </p>
   <strong>Cheers,<br/>
     4P1W team</strong>
  </body>

</html>
