<h1>Admin Page</h1>
<table border=1>
  <tr>
    <td> Name </td>
    <td> Email </td>
    <td> Username </td>
    <td> Password </td>
    <td> Edit </td>
    <td> Delete </td>
  </tr>
  <% @user_all.each do |t| %>
    <tr>
      <td> <%= t.name %> </td>
      <td> <%= t.email %> </td>
      <td> <%= t.username %> </td>
      <td> <button class='change-password'>Change Password</button> </td>
      <td> <button class='edit-details'>Edit details</button> </td>
      <td> <button class='delete-user'>Delete this user</button> </td>
    </tr>
  <% end %>
</table>
<script>
  $(function(){
    $('.change-password').click(function(){
      var pass = prompt("Enter New Password");
      if (pass == null || pass.trim() == "") {
        alert('Nothing Entered');
      }
      else {
        $.post(
          "/admin/change-user-password",    //change password URL
          {'username':$(this).data('username'),'password':pass},
              function(response){
                alert(response);
              });
      }      
    });
    
    $('.delete-user').click(function(){
      var user = $(this).data('username');
      if ( confirm("Are you sure you want to delete "+user+"?") ) {
        $.post(
          "/admin_user_delete",    //URL
          {
            'username' : user    //Data item 1
          },
          function(response){    //Sucess function
            alert(response);
          });
      }
    });
  });
</script>