<h1>Admin Page</h1>
<table border=1>
  <tr>
    <td> Select </td>
    <td> Name </td>
    <td> Email </td>
    <td> Username </td>
  </tr>
  <% @user_all.each do |t| %>
    <tr>
      <td> <input type="radio" name="user" class="user-radio" data-username="<%= t.username %>" > </td>
      <td><div> <%= t.name %> </div></td>
      <td><div> <%= t.email %> </div></td>
      <td><div> <%= t.username %> </div></td>
    </tr> 
  <% end %>
</table>
<button id="add">Add User</button>
<button id="edit">Edit</button>
<button id="submit" disabled="disabled">Submit</button>
<button id="cancel" disabled="disabled">Cancel</button>
<button id="delete">Delete User</button>
<script>
  $(function(){
    $('#edit').click(function(){
      var r = $('.user-radio:checked');
      if (r.length == 0) {
        alert('None selected');
      }
      else {
        $('button:disabled').removeAttr('disabled');
        $(this).attr('disabled','');
        var ctd = r.parent();
        ctd.next().find('div')
      }
    });
    $('#cancel').click(function(){});
    
  });
</script>