<style>
#sub_nav {
  font-size:1.2em;
}
#sub_nav > a {
  display:inline-block;
  margin-left:30px;
  background: green;
}
</style>
<nav id="sub-nav" class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
  <% if not fb? %>
    <li><a href = "/profile">Update Profile</a></li>
  <% end %>
  <% if admin? %>
    <li><a  href = "/users/admin_page">Admin Page</a></li>
  <% end %>
  </ul>
</nav>

<form action="/sessions/play">
  Choose level:
  <select name="level">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <input type="submit" value="Start Game" />
</form>
<div>
  <table>
    <% @lBoard.each do |t|%>
    <tr>
      <td><%= t.uname %></td>
      <td><%= t.score %></td>
    </tr>
    <%end%>
  </table>
</div>
<div id="challenge">
  <h3>Challenge your friends</h3>
  <form action="/sessions/mail" method="post">
    <input type="email" name="email" placeholder="Enter email Id">
    <input type="submit" value="Send request!">
  </form>
</div>