<style>
#sub_nav {
  font-size:1.2em;
}
#sub_nav > a {
  display:inline-block;
  margin-left:30px;
  background: green;
}
</style>
<div id="sub-nav">
<a href = "/profile">Update Profile</a>
  <% if :admin? == true %>
    <a href = "/users/admin_page">Admin Page</a>
  <% end %>
</div>

<form action="/sessions/play">
  Choose level:
  <select name="level">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <input type="submit" value="Start Game" />
</form>